{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %} Ngox | {% endblock %}
    </title>
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
{% endblock %}

{% block body %}
    <header>
        {% include 'navbar.html' %}
    </header>

    {% block content %}


    {% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}


