{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }}
    Hello
{% endblock %}
{% block content %}
    <div class="container">
    {{ csr_ }}
        {% if username %}
            <h1>Hola {{ username }}</h1>
        {% endif %}

        {% for message in get_flashed_messages() %}
            {% if message %}
                <div class="alert alert-success alert-dismissible fade show">
                    <p>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
        {% endfor %}

        <h1>Bienvenido usuario con ip: {{ user_ip }}</h1>


        <div>
            {{ wtf.quick_form(add_todo, action=url_for("hello_world"), method="POST") }}
        </div>

        <div class="d-block text-center">
            <img src="{{ url_for('static', filename='images/imagen1.png') }}">
        </div>
        <ul class="list-group">
            {% for item in lista %}
                {{ macro.render_item(item, delete_form, change_form) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}