{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Login
{% endblock %}
{% block content %}



    <div class="container">

        {% for message in get_flashed_messages() %}
            {% if message %}
                <div class="alert alert-success alert-dismissible fade show">
                    <p>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
        {% endfor %}

        <!--<form>
            {{ loginForm.username }}
            {{ loginForm.password }}
            {{ loginForm.botonEnviar }}
        </form>-->
      {{ wtf.quick_form(loginForm,
                        action=url_for("auth.login"),
                        method="POST",
                        extra_classes="xs ls pg",
                        button_map={"username":"xls", "botonEnviar":"danger"},
                        horizontal_columns=("md", 3, 4))

      }}
        <a class="mt-3 btn btn-success" href="{{ url_for('auth.signup') }}">Registro</a>


    </div>
{% endblock %}