{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_item(item, delete_form, change_form) %}
    <li class="list-group-item">
        {{ item.to_dict().descripcion }}
        <span class="badge badge-primary badge-pill">{{ item.to_dict().done }}</span>
        {{ wtf.quick_form(
                form=change_form,
                action=url_for("change_todo", todo_id=item.id),
                form_type="inline",
                button_map={
                    "botonChange": "primary btn-sm"
                })
        }}
        {{ wtf.quick_form(
                form=delete_form,
                action=url_for("delete_todo", todo_id=item.id),
                form_type="inline",
                button_map={
                    "botonDelete": "danger btn-sm"
                })
        }}
    </li>
{% endmacro %}