<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("index")}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("hello_world")}}">Hello</a>
      </li>
      {% if current_user.is_athenticated == False %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("auth.login")}}">Login</a>
          </li>
      {% endif %}
      {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for("auth.logout") }}">Logout</a>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>
