{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wft %}
{% block title %}

{% endblock %}
{% block content %}
    <div class="container">

        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show">
                <p>{{ message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}

        <h1>Registrarse</h1>
        {{ wft.quick_form(signup_form, action=url_for("auth.signup"), method="POST") }}
        <a class="mt-3 btn btn-success" href="{{ url_for('auth.login') }}">Login</a>
    </div>
{% endblock %}